* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}
header {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: url(./images/Object.png);
  background-size: cover;
  color: #fff;
  padding-bottom: 150px;
  /* height: 100vh; */
}
nav {
  margin: 0 auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 20px;
}
nav .logo-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
nav a {
  text-decoration: none;
  color: #fff;
}
header section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-content {
  width: 80%;
}
.main-title {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.main-title h1 {
  font-family: "sourcse sans";
  font-size: 120px;
  font-weight: bold;
}
.main-title .objective {
  width: 50%;
  font-size: 20px;
  margin: 10px auto;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}
.main-title button {
  background-color: #c271ff;
  border-radius: 20px;
  padding: 20px;
  color: #fff;
  font-size: 17px;
  border: none;
  box-shadow: 0px 0px 12px 0px black;
}
h2 {
  margin-top: 150px;
  /* font-weight: 0; */
  font-size: 32px;
}
h2 span {
  color: #c271ff;
  font-weight: bold;
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.header-gallary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}
.header-gallary div {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.7;
}
.header-gallary img {
  width: 150px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.header-gallary p {
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
